/*  your css code here. If applicable */
.container{
	border: 5px solid;
	display: flex;
	height: 150px;
	align-items: center;
	justify-content: center;
	width: 500px;
	border-radius: 20px;
	background-color: lightgray;
}
.green{
	width:60px;
	height:60px;
/* 	position: absolute; */
	background-color: green;
	border-radius: 50px;
	margin-right: 10px;
}
.yellow{
	width:60px;
	height:60px;
/* 	position: absolute; */
	background-color: yellow;
	border-radius: 50px;
	margin-right: 10px;
}
.red{
	width:60px;
	height:60px;
/* 	position: absolute; */
	background-color: red;
	border-radius: 50px;
}